<a href="https://colab.research.google.com/github/zecodee/Analitik-Visualisasi-Data/blob/main/C_Zefri_Al_Rizqullah_2509116084_CP1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **STUDI KASUS**

### Analisis Kinerja Penjualan dan Retur pada E-Commerce

In [3]:
import pandas as pd

In [4]:
path = "/content/ecommerce_sales_dataset.csv"
df = pd.read_csv(path)

print("Ukuran data (baris & kolom): ", df.shape, "\n")

df

Ukuran data (baris & kolom):  (5000, 18)

,Transaction_ID,Date,Customer_ID,Product,Quantity,Payment_Method,Country,Discount_Percentage,Shipping_Cost,Delivery_Days,Customer_Rating,Return_Status,Unit_Price,Total_Price_Before_Discount,Discount_Amount,Price_After_Discount,Final_Total,Category
0,TXN_0004163,2023-01-01,CUST_00662,Router,6,Credit Card,India,0,5.0,19.0,5.0,No,247,1482,0.00,1482.00,1487.00,Networking
1,TXN_0003251,2023-01-01,CUST_00522,Hard Drive,6,Credit Card,USA,5,15.0,10.0,5.0,No,214,1284,64.20,1219.80,1234.80,Storage
2,TXN_0001138,2023-01-01,CUST_00941,Charger,3,Credit Card,USA,0,10.0,29.0,5.0,Yes,105,315,0.00,315.00,325.00,Accessories
3,TXN_0002035,2023-01-01,CUST_00799,Speaker,5,Apple Pay,USA,5,5.0,NaN,4.0,Yes,189,945,47.25,897.75,902.75,Accessories
4,TXN_0000649,2023-01-01,CUST_00388,Monitor,3,Debit Card,USA,5,25.0,25.0,NaN,No,466,1398,69.90,1328.10,1353.10,Peripherals
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,TXN_0004302,2024-12-31,CUST_00785,Hard Drive,5,Debit Card,Australia,0,10.0,9.0,NaN,No,217,1085,0.00,1085.00,1095.00,Storage
4996,TXN_0001668,2024-12-31,CUST_00712,Mouse,8,Credit Card,Japan,0,5.0,9.0,2.0,No,29,232,0.00,232.00,237.00,Peripherals
4997,TXN_0002446,2024-12-31,CUST_00112,Keyboard,6,Credit Card,USA,0,15.0,20.0,5.0,No,149,894,0.00,894.00,909.00,Peripherals
4998,TXN_0001326,2024-12-31,CUST_00220,Webcam,9,Debit Card,Germany,0,20.0,20.0,4.0,No,111,999,0.00,999.00,1019.00,Peripherals
4999,TXN_0002670,2024-12-31,CUST_00818,Tablet,5,Bank Transfer,India,5,5.0,20.0,5.0,No,574,2870,143.50,2726.50,2731.50,Electronics

# **Business Understanding**

### Business Objective

Perusahan e-commerce ingin memahami kinerja penjualan selama 2023 hingga 2024 secara menyeluruh. Fokus utamanya adalah mengukur pertumbuhannya pendapatan, mengidentifikasi kategori dan produk dengan kontribursi tinggi. Lalu memahami faktir hubungannya dengan tingginya tingkat retur. Selain itu juga, perusahaan ingin adanya evaluasi strategi diskon, biaya pengiriman, dan waktu pengiriman terhadap kepuasan customer yang bisa diliat dengan rating. Hasil analisis ini diharapkan untuk menjadi dasar keputusan strategis sebuah perusahaan untuk meningkatkan kualitas dan pengalaman customer.

---

### Asses Situation

Datasets terdapat ada 5000 transaksi dengan rentang waktu 2 tahun dari 2023 hingga 2024. Pada datasets tersebut mencakup 15 jenis produk, 5 jenis kategori, dan 8 jenis negara. Lalu total pendapatannya mencapai 6.537.440,25. Beberapa kolom juga memiliki *missing value* pada Delivery_Days dan juga Customer_Rating. Dapat dilihat kondisi tersebut dapat diperhatikan dalam proses analisa karena dapat memengaruhi hasil. Karena dengan kosongnya data pada Delivery_Days dan Customer_Rating dapat memengaruhi analisa data lain yang memiliki hubungan dengan waktu pengiriman, kepuasan customer, dan retur.

Tantangan tersebut perlu dipahami agar hasil analisa tetap realitis dan valid sesuai dengan data yang ada.


---

In [5]:
print("Jumlah jenis produk pada transaksi:", df["Product"].nunique(), "\n")
print("Berikut daftar produknya:")
df["Product"].drop_duplicates()

Jumlah jenis produk pada transaksi: 15

Berikut daftar produknya:

0               Router
1           Hard Drive
2              Charger
3              Speaker
4              Monitor
5            USB Cable
6           Headphones
9           Microphone
12               Mouse
13            Keyboard
24              Webcam
27              Tablet
33    Screen Protector
40              Laptop
54          Smartphone
Name: Product, dtype: object

In [6]:
print("Jumlah jenis kategori pada transaksi:", df["Category"].nunique(), "\n")
print("Berikut daftar kategorinya:")
df["Category"].drop_duplicates()

Jumlah jenis kategori pada transaksi: 5

Berikut daftar kategorinya:

0      Networking
1         Storage
2     Accessories
4     Peripherals
27    Electronics
Name: Category, dtype: object

In [7]:
print("Jumlah jenis negara pada transaksi:", df["Country"].nunique(), "\n")
print("Berikut daftar negaranya:")
df["Country"].drop_duplicates()

Jumlah jenis negara pada transaksi: 8

Berikut daftar negaranya:

0         India
1           USA
5       Germany
8            UK
9        Canada
11        Japan
14    Australia
19       France
Name: Country, dtype: object

In [8]:
print( "Berikut hasil total pendapatan pada datasets tersebut: ", df["Final_Total"].sum())

Berikut hasil total pendapatan pada datasets tersebut:  6537440.25

### Analytic Goals

Tujuan dari analisa ini agar dapat mengidentifikasi tren pendapatan dan membandingkan performa. Analisa ini juga dilakukan agar dapat mengevaluasi kontribusi per-kategori dan produk terhadap total pendapatan dan tingkat retur. Hubungan antar diskon, nilai transaksi, biaya pengiriman, dan waktu pengiriman terhadap retur akan dianalisa lebih lanjut untuk menemukan pola risiko pada data tersebut. Selain itu, analisa rating customer akan digunakan untuk memahami faktor yang memengaruhi kepuasan dan loyalitas. Hasil akhir dari tujuan ini diharapkan dapat mampu menghasilkan *insight* yang dapat di eksekusi (action) oleh manajemen.

---

### Project Plan

Rencana projek ini dimulai dengan data *loading* dan pemeriksaaan kualitas data untuk memastikan konsistensi dan struktural dataset. Tahap berikutnya adalah dengan melakukan pembersihan data, termasuk konversi tipe tanggal, dan penanganan *missing value*. Selanjutnya mengeksplorasi data dilakukan untuk memahami distribusi nilai transaksi, diskon, ongkos pengiriman, dan *delivery days*. Lalu visualisasi akan digunakan untuk menampilkan tren pendaoatan, kontribusi per kategori dan produk, serta analisa retur. Terakhir yaitu implementasi dari insight dan penyusunan rekomendasi strategi bisnis yang relevan berdasarkan analisis.

---